[Unit]
Description="Mediawiki job queue chron loop"
After=php7.1-fpm.service

[Service]
EnvironmentFile=/etc/default/jobrunner
User=www-data
Group=www-data
PermissionsStartOnly=true
SyslogIdentifier=jobchron
PIDFile=/var/run/jobchron/pid
ExecStartPre=/bin/mkdir -p /var/run/jobchron
ExecStartPre=/bin/chown -R www-data:www-data /var/run/jobchron
ExecStart=/usr/bin/php /data/mediawiki/services/jobrunner/redisJobChronService --config-file=${JOBRUNNER_CONFIG} ${DAEMON_OPTS}
ExecStartPost=/bin/bash -c '/bin/echo $MAINPID > /var/run/jobchron/pid'
Restart=always

[Install]
WantedBy=multi-user.target
