[Unit]
Description="Mediawiki job queue runner loop"
After=php7.1-fpm.service

[Service]
EnvironmentFile=/etc/default/jobrunner
User=www-data
Group=www-data
PermissionsStartOnly=true
SyslogIdentifier=jobrunner
PIDFile=/var/run/jobrunner/pid
ExecStartPre=/bin/mkdir -p /var/run/jobrunner
ExecStartPre=/bin/chown -R www-data:www-data /var/run/jobrunner
ExecStart=/usr/bin/php /data/mediawiki/services/jobrunner/redisJobRunnerService --config-file=${JOBRUNNER_CONFIG} ${DAEMON_OPTS}
ExecStartPost=/bin/bash -c '/bin/echo $MAINPID > /var/run/jobrunner/pid'
Restart=always

[Install]
WantedBy=multi-user.target
