[Unit]
Description="Mediawiki job queue runner loop"
After=php7.1-fpm.service

[Service]
EnvironmentFile=/etc/default/jobrunner
User=www-data
Group=www-data
SyslogIdentifier=jobrunner
ExecStart=/usr/bin/php /data/mediawiki/services/jobrunner/redisJobRunnerService --config-file=${JOBRUNNER_CONFIG} ${DAEMON_OPTS}
Restart=always

[Install]
WantedBy=multi-user.target
