[submodule "modules/firewall"]
	path = modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
	branch = 1.8.x
[submodule "modules/puppetdb"]
	path = modules/puppetdb
	url = https://github.com/puppetlabs/puppetlabs-puppetdb.git
[submodule "modules/inifile"]
	path = modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
	branch = 1.5.x
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql.git
	branch = 4.7.x
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
	branch = 2.2.x
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
	branch = 2.1.x
[submodule "modules/puppetboard"]
	path = modules/puppetboard
	url = https://github.com/voxpupuli/puppet-puppetboard.git
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
	branch = 1.3.x
[submodule "modules/python"]
	path = modules/python
	url = https://github.com/stankevich/puppet-python.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
	branch = 4.12.x
[submodule "modules/nginx"]
	path = modules/nginx
	url = https://github.com/jfryman/puppet-nginx.git
[submodule "modules/git"]
	path = modules/git
	url = https://github.com/theforeman/puppet-git.git
[submodule "modules/ganglia"]
	path = modules/ganglia
	url = https://github.com/jhoblitt/puppet-ganglia.git
[submodule "modules/epel"]
	path = modules/epel
	url = https://github.com/stahnma/puppet-module-epel.git
[submodule "modules/mongodb"]
	path = modules/mongodb
	url = git@github.com:puppetlabs/puppetlabs-mongodb.git
[submodule "modules/automysqlbackup"]
	path = modules/automysqlbackup
	url = git@github.com:nextrevision/puppet-automysqlbackup.git
[submodule "modules/tagmail"]
	path = modules/tagmail
	url = git@github.com:puppetlabs/puppetlabs-tagmail.git
[submodule "modules/logstash"]
	path = modules/logstash
	url = git@github.com:elastic/puppet-logstash.git
[submodule "modules/file_concat"]
	path = modules/file_concat
	url = git@github.com:electrical/puppet-lib-file_concat.git
[submodule "modules/redis"]
	path = modules/redis
	url = git@github.com:arioch/puppet-redis.git
[submodule "modules/rsyslog"]
	path = modules/rsyslog
	url = git@github.com:saz/puppet-rsyslog.git
[submodule "modules/elasticsearch"]
	path = modules/elasticsearch
	url = git@github.com:elastic/puppet-elasticsearch.git
[submodule "modules/datacat"]
	path = modules/datacat
	url = git@github.com:richardc/puppet-datacat.git
[submodule "modules/java"]
	path = modules/java
	url = git@github.com:puppetlabs/puppetlabs-java.git
[submodule "modules/sysctl"]
	path = modules/sysctl
	url = git@github.com:thias/puppet-sysctl.git
[submodule "modules/nfs"]
	path = modules/nfs
	url = git@github.com:derdanne/puppet-nfs.git
[submodule "modules/gitlab"]
	path = modules/gitlab
	url = https://github.com/vshn/puppet-gitlab.git
[submodule "modules/nodejs"]
	path = modules/nodejs
	url = git@github.com:voxpupuli/puppet-nodejs.git
[submodule "modules/filebeat"]
	path = modules/filebeat
	url = git@github.com:pcfens/puppet-filebeat.git
