[submodule "modules/firewall"]
	path = modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
	branch = 1.8.x
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
	branch = 2.2.x
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
	branch = 4.12.x
[submodule "modules/git"]
	path = modules/git
	url = https://github.com/theforeman/puppet-git.git
[submodule "modules/gluster"]
	path = modules/gluster
	url = https://github.com/voxpupuli/puppet-gluster.git
