[submodule "modules/nginx"]
	path = modules/nginx
	url = https://gerrit.wikimedia.org/r/operations/puppet/nginx
[submodule "modules/firewall"]
	path = modules/firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
	branch = 1.8.x
[submodule "modules/puppetdb"]
	path = modules/puppetdb
	url = https://github.com/puppetlabs/puppetlabs-puppetdb.git
[submodule "modules/inifile"]
	path = modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
	branch = 1.5.x
[submodule "modules/postgresql"]
	path = modules/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql.git
	branch = 4.7.x
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
	branch = 2.2.x
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
	branch = 2.1.x
[submodule "modules/puppetboard"]
	path = modules/puppetboard
	url = https://github.com/voxpupuli/puppet-puppetboard.git
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
	branch = 1.3.x
[submodule "modules/python"]
	path = modules/python
	url = https://github.com/stankevich/puppet-python.git
