# NOTE: This file is managed by Puppet
# systemd service for <%= @title %>
[Unit]
Description="RESTBase service"

[Service]
User=www-data
Group=www-data
Environment= NODE_PATH="/data/mediawiki/services/restbase/node_modules"
Restart=always
WorkingDirectory=/data/mediawiki/services/restbase
ExecStart=/usr/bin/nodejs server.js

[Install]
WantedBy=multi-user.target
