# NOTE: This file is managed by Puppet
# systemd service for <%= @title %>
[Unit]
Description="CXServer service"

[Service]
User=www-data
Group=www-data
Environment= NODE_PATH="/data/mediawiki/services/cxserver/node_modules"
Restart=always
WorkingDirectory=/data/mediawiki/services/cxserver
ExecStart=/usr/bin/npm start

[Install]
WantedBy=multi-user.target
