# NOTE: This file is managed by Puppet
# systemd service for <%= @title %>
[Unit]
Description="Citoid service"

[Service]
User=www-data
Group=www-data
Environment= NODE_PATH="/data/mediawiki/services/citoid/node_modules"
Restart=always
WorkingDirectory=/data/mediawiki/services/citoid
ExecStart=/usr/bin/nodejs server.js -c /etc/mediawiki/citoid.yaml

[Install]
WantedBy=multi-user.target

